.container-mod {
    margin: 40px;
}

.js-mod-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: blue;
}

.num-text-title {
    margin-top: 20px;
}

.mod-input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 10px;

    background-color: #e6e6e6;
}

.mod-title {
    margin-top: 20px;
}

.mod-button {
    width: 100%;
    color: white;
    font-weight: 700;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 50px;
    background-color: blue;
}

.overlay {
    width: 100vw;
    height: 120vh;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.45;
    background-color: #000000;

    display: none;
    z-index: 1;
}

.overlay-active {
    display: block;
}

.modals {
    position: absolute;
    width: 402px;
    top: -100%;
    left:  50%;
    transform: translate(-50% , -50%);
    background-color: white;
    transition: 0.37s;
    z-index: 1;

    padding: 20px;
    border-radius: 5px;
}

.modal-active {
    top: 50%;
}